## Content from .ignore
local.mk
target.mk
.*.sw*
make.log
.gitignore 

## content from makestuff
local.mk
dushoff_repos.mk
friends.mk
sites.mk
dushoff_repos.def
friends.def
dev
creation
Sandbox
Workshops
diversity_metrics
Planning
significance
Circumcision_and_behaviour
Generation_talks
disease_model_talks
New_CV
Lecture_images
Grading
networkSEIR
competenceFramework
rabies_report
rabies_correlations
rabies_R0
MMED
MMEDparticipants
ICI3D.github.io
coreFaculty
RTutorials
Malaria
malariaImmunity
mbfuture
plague
fgc
QMEE
Lab_meeting
smb-mathepi
networkSEIR
commit.time
commit.default
dotdir/
clonedir/
Workshops
Planning
New_CV
competenceFramework
MMED
MMEDparticipants
coreFaculty
mbfuture
plague
Lab_meeting
smb-mathepi
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
private
commit.time
commit.default
dotdir/
clonedir/
private
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
