## Content from .ignore
local.mk
target.mk
.*.sw*
make.log
.gitignore 

## content from makestuff
local.mk
dushoff_repos.mk
friends.mk
sites.mk
creation
Sandbox
Workshops
disease_model_talks
math_talks
Rabies_talks
statistics_talks
Generation_talks
diversity_metrics
Planning
significance
Circumcision_and_behaviour
New_CV
Lecture_images
competenceFramework
rabies_report
rabies_correlations
rabies_R0
MMED
MMEDparticipants
ICI3D.github.io
coreFaculty
RTutorials
Malaria
malariaImmunity
mbfuture
fgc
QMEE
smb-mathepi
commit.time
commit.default
dotdir/
clonedir/
creation
Sandbox
Workshops
disease_model_talks
Generation_talks
diversity_metrics
Planning
significance
Lecture_images
competenceFramework
rabies_report
rabies_correlations
MMED
MMEDparticipants
coreFaculty
fgc
smb-mathepi
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
private
commit.time
commit.default
dotdir/
clonedir/
private
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
